/*.navbar-nav li {
    color: white;
    &:hover {
        background-color: #D9E8F5;
        color: white;
    }
}

.navbar {
    background-color: #052A69;
    color: white;
    border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    border: 0px solid black;
}*/

body {
    background-color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
}

.button {
    border-radius: 56px;
    -moz-border-radius: 56px;
    -webkit-border-radius: 56;
}

h1 {
    font-size: 23px;
    text-align: center;
    color: #052A69;
}

h3 {
    text-align: center;
}

.btn-large{
    color: white;
    background-color: #F20161;
    border-color: #F20161;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.btn {
    color: white;
    background-color: #F20161;
    border-color: #F20161;
}

.product{
    border: 2px solid #D9E8F5;
    background-color: #91BED4;
    margin: 0px 2%;
    padding: 5px;
    transition: 0.3s;

}
.product:hover{
    box-shadow: 3px 9px 18px 3px #91BED4;
    background-color: #D9E8F5;
    border: 2px solid #052A69;
    color: #F20161; 
}

.sidebar {
    border-radius: 5px 25px 25px 5px;
    -moz-border-radius: 5px 25px 25px 5px;
    -webkit-border-radius: 5px 25px 25px 5px;
    background-color: #052A69;
    box-shadow: 8px #D9E8F5;
    color: #ffffff;
    margin: 25px 5px;
    padding: 5px;
}

.registerform {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    background-color: #052A69;
    color: #ffffff;
    margin: 25px 0px;
}

.loginform{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    background-color: #052A69;
    color: #ffffff;
    margin: 25px 0px;
}

.maincontent{
    background-color: #91BED4;
}

.content{
    border: 2px solid #D9E8F5;
    background-color: #91BED4;
    margin: 25px 2%;
    padding: 5px 10px;
    box-shadow: 3px 6px 3px 6px #D9E8F5;
    font-size: 16px;
}

.imgSidebar{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.footer {
    background-color: #052A69;
    border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    color: white;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.slide{
    padding: 35px;
}

.contact{
    padding: 25px;
}

.contact label{
    color: #F20161;
    font-weight: bold;
    size: 14px;
}

.sidebar h2{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
}

.sidebar h4{
    font-size: 18px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.imgLogo{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.imgtable{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

table {
	background: #e5e5e5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
}	

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#007, #004);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
        font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;
        font-size: 24px;
        text-align: center;
}

th:after {
	background: linear-gradient(rgba(55,55,55,0), rgba(55,55,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	top: 25%;
	width: 100%;
        text-align: center;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
        font-size: 18px;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #d1d1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

.topnav-right{
    float: right;
}

.saludo{
    margin-top: 8px;
    margin-right: 20px;
    font-size: 18px;
}